[[local|localrc]]
# Credentials
ADMIN_PASSWORD="{{ devstack_password }}"
DATABASE_PASSWORD="{{ devstack_password }}"
RABBIT_PASSWORD="{{ devstack_password }}"
SERVICE_PASSWORD="{{ devstack_password }}"
SERVICE_TOKEN="{{ devstack_password }}"
SWIFT_HASH="{{ devstack_password }}"
SWIFT_TEMPURL_KEY="{{ devstack_password }}"

# Enable Ironic plugin
enable_plugin ironic https://opendev.org/openstack/ironic
enable_plugin ironic-inspector https://opendev.org/openstack/ironic-inspector

# Disable nova novnc service, ironic does not support it anyway.
disable_service n-novnc

# Enable Swift for the direct deploy interface.
enable_service s-proxy
enable_service s-object
enable_service s-container
enable_service s-account

# Disable Horizon
disable_service horizon

# Disable Cinder
disable_service cinder c-sch c-api c-vol

# Disable Nova
#disable_service n-api
#disable_service n-api-meta
#disable_service n-cauth
#disable_service n-cond
#disable_service n-cpu
#disable_service n-obj
#disable_service n-sch

# Swift temp URL's are required for the direct deploy interface
SWIFT_ENABLE_TEMPURLS=True

# Create n virtual machines to pose as Ironic's baremetal nodes.
IRONIC_VM_COUNT="{{ ironic_victim_nodes }}"
IRONIC_BAREMETAL_BASIC_OPS=True
DEFAULT_INSTANCE_TYPE=baremetal

# Enable additional hardware types, if needed.
#IRONIC_ENABLED_HARDWARE_TYPES=ipmi,fake-hardware
# Don't forget that many hardware types require enabling of additional
# interfaces, most often power and management:
#IRONIC_ENABLED_MANAGEMENT_INTERFACES=ipmitool,fake
#IRONIC_ENABLED_POWER_INTERFACES=ipmitool,fake
# The 'ipmi' hardware type's default deploy interface is 'iscsi'.
# This would change the default to 'direct':
#IRONIC_DEFAULT_DEPLOY_INTERFACE=direct

# Change this to alter the default driver for nodes created by devstack.
# This driver should be in the enabled list above.
IRONIC_DEPLOY_DRIVER=ipmi

#mrda only additions
IRONIC_IS_HARDWARE=false
LIBS_FROM_GIT=os-traits

# The parameters below represent the minimum possible values to create
# functional nodes.
IRONIC_VM_SPECS_RAM=1280
IRONIC_VM_SPECS_DISK=10

# Size of the ephemeral partition in GB. Use 0 for no ephemeral partition.
IRONIC_VM_EPHEMERAL_DISK=0

# To build your own IPA ramdisk from source, set this to True
IRONIC_BUILD_DEPLOY_RAMDISK=False

# Add in extra_hardware to IRONIC_INSPECTOR_COLLECTORS
# Note that collectors need a - and processing hooks need an _
IRONIC_INSPECTOR_COLLECTORS=default,logs,pci-devices,extra-hardware
IRONIC_INSPECTOR_ALWAYS_STORE_RAMDISK_LOGS=True
IRONIC_INSPECTOR_PROCESSING_HOOKS=extra_hardware

VIRT_DRIVER=ironic

# Using our own IPA, so we get extra_hardware support
IRONIC_RAMDISK_TYPE=tinyipa
IRONIC_AGENT_KERNEL_URL="{{ ipa_agent_kernel_url }}"
IRONIC_AGENT_RAMDISK_URL="{{ ipa_agent_ramdisk_url }}"

# By default, DevStack creates a 10.0.0.0/24 network for instances.
# If this overlaps with the hosts network, you may adjust with the
# following.
NETWORK_GATEWAY=10.1.0.1
FIXED_RANGE=10.1.0.0/24
FIXED_NETWORK_SIZE=256

# Log all output to files
LOGFILE=/opt/stack/devstack.log
LOGDIR=/opt/stack/logs
IRONIC_VM_LOG_DIR=/opt/stack/ironic-bm-logs

